[Unit]
Description=Development APNS token management microservice
After=time-sync.target
Requires=network-online.target

[Service]
Type=simple
User=root
Group=root
Restart=always
Environment="FLASK_ENV=development"
ExecStart=/root/apns/apns_server.py

[Install]
WantedBy=multi-user.target
